.tr-odd {
	background-color: gainsboro;
}

.tr-even {
	background-color: white;
}

.tr-odd:hover {
  border-style: solid;
  border-width: thin;
}

.tr-even:hover {
  border-style: solid;
  border-width: thin;
}

.relative {
  position: relative;
  text-align: center;
}

.close-btn {
  background-color: red;
  color: black;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 20pt;
  margin: 2pt;
}

.nav-tabs > li.active > a {
  background-color: #d8d5d5;
}

.nav-tabs > li.active > .tab-active {
  background-color: #fff;
}

#pop-up {
  background-color: white;
  width: max-content;
  padding: 10pt 20pt;
  display: inline-block;
  border-radius: 20pt;
}

#pop-up-haze {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background:rgba(0,0,0,0.6);
  padding: 20pt;
}

.search-all-ctn {
	position: relative;
	padding: 10pt;
}

.recover-ctn {
	position: absolute;
  right: 0;
  top: 0;
  padding: 10pt;
}
